body{
background:
url(https://images.unsplash.com/photo-1561886373-c312a61f6bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
}

h1{
  color: red;
  text-align: center;
}

#special{
  color:white;
  font-size: 50px;
}

td,table{
  margin: auto;
  border: 2px solid red;
  background: white;
  color: red;
  font-size: 25px;
}
thead{
  background: red;
  color: white;
}

.container .jumbotron{
  margin-top: 200px;
  background: red;
  color: white;
}
